body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    text-align: center;
}
.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.block div{
    flex-basis: 24%;
    padding: 10px;
    box-sizing: border-box;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
}
.head{
    background: silver;
    font-size: 20px;
}

input{
    width: 98%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

.text{
    text-align: left;
}