<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="icon" href="{% static 'skills/favicon.ico' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'skills/logo.png' %}" alt="">
            </a>
        </div>
        <div class="block">
             <div class="element">
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'blogs' %}">Блог</a></li>
            <li><a href="{% url 'news' %}">Новости</a></li>
            <li><a href="{% url 'zjuvopis' %}">Искусство живописи</a></li>
            {% if user.is_authenticated %}
            <li class="logo">Пользователь: {{user.username}}</li>
            <li><a href="{% url 'createtodo' %}">Создать</a></li>
            <li><a href="{% url 'currenttodos' %}">Актуальные</a></li>
            <li><a href="{% url 'completedtodos' %}">Выполненные</a></li>
            {% else %}
            <li class="logo"><a href="{% url 'home' %}">ПСХР</a></li>
            <li><a href="{% url 'signupuser' %}">Зарегистрироваться</a></li>
            <li><a href="{% url 'loginuser' %}">Войти</a></li>
            <li>
                <form action="{% url 'logoutuser' %}" method="post">
                {% csrf_token %}
                <button class="top">Выйти</button>
            </form>
            </li>
            {% endif %}
            <li><a href="{% static 'skills/resume.pdf' %}" target="_blank">Резюме</a></li>
        </ul>
                 </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>