{% extends 'skills/base.html' %}
{% load static %}
{% block content %}
<div class="block">

    <div class="element">
<h1>Искусство живописи</h1>
<p>
  Чаще всего живописью называют полотна, написанные масляными красками на холсте. Красочный слой бывает гладким или неровным, то есть пастозным, он может лежать прерывисто или сплошной плоскостью. На то, как художник кладет краску, влияет структура холста — его гладкость или шероховатость, зернистость.</p><p></p>
<p>Живопись ведет свою историю с изображений в пещерах первобытного периода. Первые художники на наскальных рисунках запечатлевали животных и сцены охоты. Живопись развивалась в Древнем Египте, Древней Греции и Риме, на Востоке. К этому виду искусства относят и иконопись: долгое время в Европе именно она занимала ведущее место.</p>
        <p>Светская живопись начала набирать популярность в XVI—XVII веках с распространением масляных красок и разделением искусства на жанры. На протяжении столетий она главенствовала над остальными видами искусства в Европе. Живописные произведения создавали итальянские художники Леонардо да Винчи, Рафаэль Санти, Тициан.</p>
        <p>В русском искусстве живопись началась с иконописи и фресок в Древней Руси. В XVII веке появились светские и исторические сюжеты, в XVIII—XIX веках достигли расцвета главные жанры этого вида искусства — историческая картина, портрет, пейзаж, натюрморт. Живописные полотна создавали Федор Рокотов, Орест Кипренский, Иван Крамской, Иван Шишкин и другие художники.</p>
   <p>В XX веке появились новые краски, например акриловые, которые используют живописцы и в наши дни.</p>
    </div>
{% endblock%}
  </div>
