{% extends 'skills/base.html' %}

{% block content %}
<div class="element">
    <h1>ПСХР</h1>
    <p>Мы рады приветствовать Вас на официальном сайте Профессионального союза художников России!
Профессиональный союз художников России (ПСХР) – всероссийская общественная организация, объединяющая на добровольной основе художников (живописцев, графиков, скульпторов, мастеров декоративно-прикладного искусства, фотохудожников и т.д.), искусствоведов, музейных и галерейных работников.</p>
    <h2>Основной целью Профессионального союза художников России является защита прав творческих деятелей.
Профессиональный союз художников России ведет деятельность в 67 регионах России и в 34 зарубежных государствах.</h2>
    <p>Профессиональный союз художников России (ПСХР) – всероссийская общественная организация, объединяющая на добровольной основе художников (живописцев, графиков, скульпторов, мастеров декоративно-прикладного искусства, фотохудожников и т.д.), искусствоведов, музейных и галерейных работников.</p>
    <p>При Профессиональном союзе художников России действуют:
–  региональные и местные первичные организации и представительства;
–  представительства в зарубежных государствах;
–  профильные секции (живописцы, графики, скульпторы, искусствоведы, галерейные и музейные работники, фотохудожники, мастера декоративно-прикладного искусства, архитекторы, журналисты, дизайнеры);
–  служба защиты историко-культурного и архитектурного наследия;
–  PR-служба;
–  юридическая служба;
–  Рейтинговый центр, ведущий работу над справочником «Единый художественный рейтинг»;
–  другие службы, организации и группы по интересам.</p>
</div>

{% endblock %}