{% extends 'base.html' %}

{% block content %}
{{ super() }}
Подберем и пригоним любой автомобиль из-за границы
Мы изучили местные законы, правила и особенности рынка. Стоимость, налоги, пошлины, расходы на доставку, оформление ЭПТС, СБКТС, экспертиза в лаборатории – всё это и даже больше мы уже посчитали и сообщим Вам итоговую стоимость авто. Поставим на учет в МРЭО и передадим Вам машину с полным комплектом документов!

Если Вы хотите быть в курсе всех подробностей того, как доставляется Ваш автомобиль и из чего формируется его стоимость, то на этой странице мы постарались отразить основные моменты.
{% endblock %}